<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /firewall/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /firewall/index.html [L]
</IfModule>